<mat-card-content fxLayout="row" class="card-content">
  <mat-card class="mat-elevation-z0 outline" fxFlex="40"
    ><swiper [config]="config" showsPagination="{false}">
      <ng-template swiperSlide
        ><img
          src="https://images.unsplash.com/photo-1593698054469-2bb6fdf4b512?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3174&q=80"
          alt="" /></ng-template
      ><ng-template swiperSlide
        ><img
          src="https://enhancv.com/static/d6817bb5bdf95721c52409c6ce6ccbcb/01a89/DoubleColumn_1.webp"
          alt=""
      /></ng-template>
      <ng-template swiperSlide
        ><img
          src="https://images.unsplash.com/photo-1491975474562-1f4e30bc9468?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      /></ng-template>
    </swiper> </mat-card
  ><mat-card class="mat-elevation-z0 outline" fxFlex="60"
    ><mat-card-title>Making a Resume has never been easier</mat-card-title
    ><mat-card-subtitle
      >My Perfect Resume takes the hassle out of resume writing. Choose from
      several templates and follow easy prompts to create the perfect job-ready
      resume effortlessly.</mat-card-subtitle
    >
    <div class="button">
      <button mat-raised-button>Create</button>
    </div></mat-card
  >
</mat-card-content>
