<!-- <swiper
 [slidesPerView]="3"
 [spaceBetween]="50"
 (swiper)="onSwiper($event)"
 (slideChange)="onSlideChange()"
>
 <ng-template swiperSlide><img src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt=""></ng-template>
 <ng-template swiperSlide>Slide 2</ng-template>
 <ng-template swiperSlide>Slide 3</ng-template>
</swiper> -->

<swiper [config]="config" showsPagination={false}>
  <ng-template swiperSlide
    ><img
      src="https://cdn-images.zety.com/templates/zety/cascade-3-duo-blue-navy-21@3x.png"
      alt="" /></ng-template
  ><ng-template swiperSlide
    ><img
      src="https://enhancv.com/static/d6817bb5bdf95721c52409c6ce6ccbcb/01a89/DoubleColumn_1.webp"
      alt="" /></ng-template
  ><ng-template swiperSlide
    ><img
      src="https://cdn-images.zety.com/templates/zety/cascade-3-duo-blue-navy-21@3x.png"
      alt="" /></ng-template
  ><ng-template swiperSlide
    ><img
      src="https://enhancv.com/static/d6817bb5bdf95721c52409c6ce6ccbcb/01a89/DoubleColumn_1.webp"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="https://cdn-images.zety.com/templates/zety/cascade-3-duo-blue-navy-21@3x.png"
      alt="" /></ng-template
  ><ng-template swiperSlide
    ><img
      src="https://enhancv.com/static/d6817bb5bdf95721c52409c6ce6ccbcb/01a89/DoubleColumn_1.webp"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="https://cdn-images.zety.com/templates/zety/cascade-3-duo-blue-navy-21@3x.png"
      alt="" /></ng-template
  ><ng-template swiperSlide
    ><img
      src="https://enhancv.com/static/d6817bb5bdf95721c52409c6ce6ccbcb/01a89/DoubleColumn_1.webp"
      alt=""
  /></ng-template>
</swiper>
